*{
    margin: 0;
    padding: 0;
}
.navigation li{
    padding: 15px;
    
}
.navigation li:hover{
    background-color:#FFD54C ;
}

.primary-font{
    font-family: 'Montserrat', sans-serif;
}

.secondary-font{
    font-family: 'Lato', sans-serif;
}


.navmenu-ghost-button svg{
    color:#D01818;
}